$grey: #afadad;

.NewsTile {
  display: flex;
  flex-direction: column;
  border: 1px solid $grey;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  color: black;
  cursor: default;
  box-shadow: -0.25rem -0.25rem 0.625rem -0.4375rem rgba(0, 0, 0, 0.61);

  a {
    :link {
      color: inherit;
    }
    :visited {
      color: inherit
    }
    :hover {
      color: inherit;
    }
    :active {
      color: inherit;
    }
  }

  .imageContainer {
    img {
      max-width: 100%;
      height: 15rem;
      transition: transform 0.2s;
      transform: scale(1);
    }
  }

  :hover {
    img {
      transition: transform 0.2s;
      transform: scale(1.01);
    }
  }

  .detailsContainer {
    .title {
      font-size: 1rem;
      margin: 0.1875rem;
    }

    .contentContainer {
      font-size: 0.8125rem;
      font-family: Arial;
      display: flex;
      text-align: left;
      padding: 0.1875rem;
      //text-overflow: ellipsis;
    }

    .dateContainer {
      margin-top: 1rem;
      font-size: 0.8125rem;
      text-align: end;
      color: $grey;
    }
  }
}

