.wrapperContainer {
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
  }
}

.filtersContainer {
  width: 35rem;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;

  .inputContainer {
    display: grid;
    grid-template-columns: 5rem 1fr;
    margin: 0.3rem 0;

    .labelContainer {
      display: flex;
    }
  }
}